[*.cs]
csharp_new_line_before_open_brace = accessors, anonymous_methods, anonymous_types, control_blocks, events, indexers, lambdas, local_functions, methods, object_collection_array_initializers, types
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
