init:
  - git config --global core.autocrlf input
build_script:
  - cmd: build.cmd BuildApp
  - cmd: build.cmd UnitTests
  - cmd: build.cmd ConventionTests
  - cmd: build.cmd CreatePackages
  - cmd: build.cmd UnitTestsDotNetCore
test: off
artifacts:
- path: 'packaging\octokit*.nupkg'
  name: OctokitPackages