image: Visual Studio 2017

skip_branch_with_pr: true

init:
  - git config --global core.autocrlf input

build_script:
  - dotnet --info
  - ps: .\build.ps1 -LinkSources -Verbosity Normal

test: off

artifacts:
- path: 'packaging\octokit*.nupkg'
  name: OctokitPackages